@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

*{
    font-family: sans-serif;
    color: black;
}
body{
    height: 100vh;
    background-image: linear-gradient(black , white);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    padding: 5px;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(255, 217, 0, 0.185) , black) ,
     url(photo/main\ photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    
    
    

    
}
.container:hover{
    background-image: linear-gradient(rgba(255, 217, 0, 0.185) , rgba(255, 255, 255, 0.233)) ,
     url(photo/main\ photo.jpg);
     .rating , .send , .pargraf{
        visibility: visible;
        
     }
    
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
    
}
.logo{
    text-transform: uppercase;
    font-style: italic;
    transition: all 3s;
    letter-spacing: 1px;
}
.logo:hover{
    font-size: 35px;
}
.container .header ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: black solid 1px;
    padding: 10px;
    

}
.header ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    transition: all 1s;
}
.header ul li a:hover{
    text-decoration: solid underline gold;
    color: gold;
    font-size: 20px;
    padding: 10px;
    margin: 15px;
    background-color:rgba(0, 0, 0, 0.151);
    border-radius: 8px;
}
.header ul li a:active{
    cursor: progress;
}

/* textcontainer*/

.textcontainer{
    
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.textcontainer > h1{
    font-family: "Playwrite MX", cursive , sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.493);
    padding: 0px;
    margin: 0px;
}

.pargraf{
    width: 380px;
    margin-left: 50px;
    
}
.pargraf > p{
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.star{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.star:hover{
    cursor: pointer;
    color: gold;
}
.star:active{
    cursor: progress;
}
.starinput{
    visibility: hidden;
}
.rating{
    
    
    top:315px;
    left: 390px;
}

.send{
    width: 200px;
    margin-left: 67px;
    height:40px ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.048);
    font-family: sans-serif;
    
}
.send:hover{
    opacity: 1;
    letter-spacing: 0px;
    border: gold solid 1px;
}
.rating , .send , .pargraf{
    visibility: hidden;
    transition:all 0.2s ease 0.5s;
}


/*----------------------------------------*/
@media (max-width:600px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .logo{
        
        margin-left: 40px;
    }
    .logo:hover{
        font-size: 25px;
        
    }
    ul{
        gap: 15px;
        width: 45%;
        border-bottom:none;
    }
    a:hover{
        font-size: 10px;
        margin: 0px;
        
    }
    .textcontainer > h1{
        font-size: 20px;
    }
    .pargraf{
        width: 280px;
        font-size: 20px;
    }
    .pargraf p{
        font-size: 10px;
    }
    .star{
        font-size: 30px;
    }
    .send{
        width: 150px;
        height: 35px;
        padding: 0px;
        letter-spacing: 0px;
    }
    
}
/*............. project page ..............*/
.contentprojects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    
    

}
.contentprojects .project{
    width: 300px;
    height: 500px;
    border: rgba(255, 0, 0, 0) solid 1px;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius:8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    
}
iframe{
    border-radius: 30px;
}
.project .text {
    width: 80%;
    margin: 10px auto;

}
.project .text a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: black solid 1px;
}
.project:hover{
    border: gold solid 1px;
}


.up a {
    display: inline-block;
    padding: 5px;
    color: gold;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 50%;  
}

.up a i{
    color: gold;
}
.up a:hover{
    border: gold solid 1px;
}
.contentprojects .text a{
    transition: all 1s ease ;
    
}
.contentprojects .text a:hover{
    text-decoration: solid  gold;
    color: gold;
    font-size: 20px;
    padding: 10px;
    margin: 15px;
    background-color:rgba(0, 0, 0, 0.151);
    border-radius: 8px;
}

@media (max-width:600px){
    .contentprojects{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    
    }
    .project:hover{
        border: gold solid 1px;
    }
    .container{
        overflow: scroll;
    }
    
   
}



